/* MUSIC CARD */
.music-card {
    display: flex;
    gap: 20px;
    align-items: flex-start;

    background: var(--bg-surface);
    color: var(--text-light);

    padding: 20px;
    border-radius: var(--radius);

    width: 1000px;
    margin: 40px auto;

    box-shadow: var(--shadow-medium);
}

/* Notes section */
.music-notes {
    max-width: 300px;
    background: var(--bg-surface-soft);
    padding: 12px;
    border-radius: var(--radius);
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.4;
}

.music-notes h4 {
    margin-top: 0;
}

.genre-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 12px;
    width: 160px;
}

.genre-chip{
    padding: 4px 10px;
    border-radius:  calc(var(--radius) * 100);
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--text-light);
    letter-spacing: 0.5px;
}

.genre-chip.progressive {
    background: #f5c542;
}

.genre-chip.metal {
    background: #8a2be2;
}

.genre-chip.ost{
    background: #239e6f;
}

.genre-chip.indie{
    background: #0c4935;
}

.genre-chip.pop{
    background: #ff69b4;
}

.genre-chip.alternative{
    background: #1e90ff;
}

.genre-chip.folk{
    background: #228b22;
}

.genre-chip.experimental{
    background: #0300c2;
}

.genre-chip.rock{
    background: #8b4513;
}

.genre-chip.dance{
    background: #ff0000;
}

.genre-chip.hiphop{
    background: #800080;
}

.genre-chip.rap{
    background: #4653a0;
}

.genre-chip.electronic{
    background: #b1c500;
}

.genre-chip.orchestral{
    background: #2b3342;
}

.genre-chip.blues{
    background: #2e198b;
}

.genre-chip.country{
    background: #7a3608;
}

.genre-chip.rnb{
    background: #0a1d38;
}

.genre-chip.lofi{
    background: #81d881;
}

.genre-chip.comedy{
    background: #c6d351;
}

.genre-chip.funk{
    background: #077004;
}

.genre-chip.punk{
    background: #660e2c;
}

.music-button-link{
    padding: 6px 12px;
    display: inline-block;
    padding: 6px 12px;
    border-radius: var(--radius);
    border: 1px solid var(--border-light);
    background-color: var(--bg-surface);
    color: var(--text-light);
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.2s ease;
    margin-top: auto;
}

.music-button-link:hover{
    background: var(--bg-overlay);
    color: var(--text-light);
    box-shadow: var(--shadow-strong);
    transform: translateY(-5px);
}